@page "/convert"
@inject HttpClient Http

<PageTitle>CONVERT SERVICE</PageTitle>

<h1>CONVERT SERVICE</h1>

<p>Use one of two services below.</p>

<h2>Convert meters to feet</h2>

<p>...</p>

<h2>Convert kps to mps</h2>

<p>...</p>


<style>
    .convert {
        background-color: lightgray;
    }
</style>

