@page "/education"
@inject HttpClient Http

<PageTitle>EDUCATION</PageTitle>

<h1>EDUCATION</h1>

<h2>What courses?</h2>

<p>FYI: <strong>@DateTime.Now</strong></p>

<p>
    Is it Monday?? - @if (DateTime.Now.DayOfWeek == DayOfWeek.Monday)
    {
        <strong>YES! :(</strong>
    }
    else
    {
        <strong>NO! Hopefully, it's Friday! :D</strong>
    }
</p>

<strong>A few courses:</strong>

@if (courses == null)
{
    <p><em>Loading courses...</em></p>
}

else
{
    <ul>
        @foreach (var str in courses)
        {
            <li>
                Course: @str.Name <br>
                Period: @str.Period <br>
                Progression: @str.Progression
            </li>
        }
    </ul>
}

@code {
    private Courses[]? courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await Http.GetFromJsonAsync<Courses[]>("sample-data/education.json");
    }

    public class Courses
    {
        public int Period { get; set; }

        public string Name { get; set; }

        public string Progression { get; set; }
    }
}


<style>
    .education {
        background-color: lightgray;
    }
</style>